{% macro render_field(field, labelclass='') %}
	{% if labelclass %}
		<dt> {{ field.label }}<span class={{ labelclass }}>*</span>
	{% else %}
		<dt> {{ field.label }}
	{% endif %}

	<dd>{{ field(**kwargs)|safe }}
	{% if field.errors %}
		<ul class=errors>
		{% for error in field.errors %}
			<li>{{ error }}</li>
		{% endfor %}
		</ul>
	{% endif %}
	</dd>
{% endmacro %}

{% extends "base_t.html" %}
{% block header %}
		<link rel="stylesheet" href="{{ url_for('contact_page.static', filename='css/contact_t.css') }}"}
{% endblock header %}
{% block content %}
<div id="sub_page_intro">
	<div class="copy">
		{% if info %}
		{{info|safe}}
		{% else %}
		<h1 class="intro">Contact Us</h1>        
		<p>We'd love to hear from you! Feel free to send us inquiries. Messages sent through this form will be sent to all RocPy organizers.</p>
		{% endif %}
	</div>
</div>              
<div class="contact_form">
	<form action="{{url_for(".contact")}}" id="mail" method="post" autocomplete="off"> 
		<dl class=forms>
			{% autoescape false %}
			{{ render_field(form.name, labelclass="required") }}
			{{ render_field(form.email, labelclass="required") }}
			{{ render_field(form.phone) }}
			{{ render_field(form.subject, labelclass="required") }}
			{{ render_field(form.message, labelclass="required") }}
			<dt>{{ form.antispam.label(class="antispam1") }}</dt>
			<dd>{{ form.antispam(class="antispam1") }}</dd>
			<!-- http://nesv.blogspot.com/2011/10/flask-gotcha-with-html-forms-checkboxes.html -->
			{% endautoescape %}
		</dl>
		<button type="submit" id="submit"> Submit </button> 
		<p class="form-meta">I understand that without a valid E-mail address I cannot be contacted.</p>                               
	</form> 
</div>                
{% endblock content %}

