@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body,html {
    font-family: 'Open Sans', sans-serif;
    background:#331918 url(/static/img/body_bg.png) repeat 0 0;
    margin:0;
    padding:0;
    color:#FFF;
}
p, form, ul {
	font-size:80%;
}



/* Make all links grey on black, whatever their state */
a { 
	border-bottom:1px dotted #FF0000;
	text-decoration:none;
	border-color: green;
	color: green;
}

a:active, a:link, a:visited, a:hover { 
}

h1 {
    margin:0;
}
h2 {
    margin:0 0 1em;
}

.intro {
	font-size:150%;
}

#header {
    padding:5px 10px;
    font-family: 'Ubuntu', sans-serif;
    display: inline-block;
}
#titles {
	position: relative;
	width: 350px;		
	height: 80px;
	float: left;
	left: -25px;
}
#sitetitle {
}
#pagetitle {
	margin: 0;
	padding-left: 20px;
	float: left;
}
#logo {
    float: left;
}

#logo a {
   	border: none;
	text-decoration:none;
}

#wrap {
	border-bottom: 1px solid rgba(255, 255, 255, .3);
    width:870px;
    margin:0 auto;
	min-height: 100%;
}
#nav {
   	border: none;
	border-radius: 15px;
    padding:5px 10px;
    background:#c99;

}
#nav ul {
    margin:0;
    padding:0;
}
#nav li a {
	text-decoration:none;
   	border: none;
	color:#FFF;
}	
#nav li {
    display:inline;
    margin:0;
    padding:0;
	padding-right:15px;
}
#main {
    float:right;
    width:570px;
    padding:10px;
	overflow:auto;
	padding-bottom: 150px;
	font-size:120%;
}

#main h1 {
	margin-bottom: 15px;
}
#main p {
	margin-bottom: 10px;
}
#sidebar {
    float:left;
    width:230px;
    padding:10px;
    /*background:#99c;*/
}
.sidebar-block {
	margin: 0px 0px 40px 0px;
}
.sidebar-block ul {
	margin:0;
	padding:0;
	list-style-type: none;
}
.sidebar-block h3, p {
	padding:0;
	margin: 0 0 5px;
}

.sidebar-block p {
	padding:0;
	margin:0;
}

.sidebar-block dl,dd,dt {
	font-size: 90%;
	padding:0;
	margin:0;
}

.sidebar-block dt  {
	border-left: 1px dotted rgba(255, 0, 0, .3);
	padding-left: 2px;
}

.sidebar-block dd {
	border-left: 1px dotted rgba(255, 0, 0, .3);
	padding-left: 3px;
	margin-bottom: 7px;
}

#footer {
    clear:both;
    padding:5px 10px;
	position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear:both;
	text-align: center;
	font-size: 70%
}
#footer p {
	font-size:80%;
    margin:0;
}
* html #footer {
    height:1px;
}
