@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body,html {
    font-family: 'Open Sans', sans-serif;
    background:#331918 url(/static/img/body_bg.png) repeat 0 0;
    margin:0;
    padding:0;
    color:#FFF;
}
p, form, ul {
	font-size:80%;
}



/* Make all links grey on black, whatever their state */
a { 
	border-bottom:1px dotted #FF0000;
	text-decoration:none;
	border-color: green;
	color: green;
}

a:active, a:link, a:visited, a:hover { 
}

h1 {
    margin:0;
}
h2 {
    margin:0 0 1em;
}

#page_wrapper h2 {
	font-size:120%;
}

.intro {
	font-size:150%;
}

/* Start header related styling */
#header {
    padding:5px 0px 0 0;
    font-family: 'Ubuntu', sans-serif;
	border-bottom: 1px solid rgba(255, 255, 255, .3);
	width: auto;
	overflow:hidden;
}
#titles {
	position: relative;
	width: 350px;		
	height: 80px;
	float: left;
	left: -25px;
}
#sitetitle {
	height: 50px;
	font-size: 42px;
}
#pagetitle {	
	margin: 0;
	padding-left: 20px;
	float: left;
	font-size: 16px;
}
#logo {
    float: left;
    width: "64";
	height: "75";
}

#logo a {
   	border: none;
	text-decoration:none;
}
/* End header related styling */


#wrap {
    width:890px;
    margin:0 auto;
	min-height: 100%;
	overflow:auto;
}

#nav {
	margin-left: 15px;
	width:645px;
	float: right;
	clear: both;
}

#main {

}


#sidebar {
    float:left;
    width:230px;
    padding:0px;
	margin-top: 10px;
}

.sidebar-block {
	margin: 0px 0px 40px 0px;
}
.sidebar-block ul {
	margin:0;
	padding:0;
	list-style-type: none;
}
.sidebar-block h3, p {
	padding:0;
	margin: 0 0 5px;
}

.sidebar-block p {
	padding:0;
	margin:0;
}

.sidebar-block dl,dd,dt {
	font-size: 90%;
	padding:0;
	margin:0;
}

.sidebar-block dt  {
	border-left: 1px dotted rgba(255, 0, 0, .3);
	padding-left: 2px;
}

.sidebar-block dd {
	border-left: 1px dotted rgba(255, 0, 0, .3);
	padding-left: 3px;
	margin-bottom: 7px;
}

#footer {
    clear:both;
    padding:5px 10px;
	position: relative;
	height: 150px;
	clear:both;
	text-align: center;
	font-size: 70%
}
#footer p {
	font-size:80%;
    margin:0;
}
* html #footer {
    height:1px;
}


/* overrides for ui-tab & ui-dialog styles */
#nav .ui-tabs {
}
#nav ul.ui-tabs-nav { 
	padding:0 0 0 0px;
   	margin-top: -33px;
	margin-left: 150px;
	
}
#nav .ui-tabs-nav li { 
	margin:5px 5px 0 0; 
}

#nav .ui-tabs-nav li a:link,
#nav .ui-tabs-nav li a:visited,
#nav .ui-tabs-nav li a:hover,
#nav .ui-tabs-nav li a:active { 
	font-size:14px;
	padding:4px 1.2em 3px;
	color:#fff;
	border: none;	
}

#nav .ui-tabs-nav li.ui-tabs-selected a:link,
#nav .ui-tabs-nav li.ui-tabs-selected a:visited,
#nav .ui-tabs-nav li.ui-tabs-selected a:hover,
#nav .ui-tabs-nav li.ui-tabs-selected a:active { color:#e6820E; }

#nav .ui-tabs-panel {
	min-height: 600px;
	overflow:hidden;
	margin-top: 10px;
}

#nav .ui-tabs .ui-tabs-panel  {
	padding: 0px;
	display: block; 
	padding: 0;
	background: none; 
}

#nav .ui-widget {
    font-family: 'Open Sans', sans-serif;
	font-size:100%;
}

#nav.ui-widget-content,
#nav .ui-widget-content { 
	background-image:none;
	background-color:transparent;
	color: #fff;
	padding: 0;
}

#nav .ui-widget-content a:link,
#nav .ui-widget-content a:visited { color:#1b75bb; text-decoration:none; }
#nav .ui-widget-content a:hover,
#nav .ui-widget-content a:active { color:#0b559b; }

#nav.ui-corner-all {
	-moz-border-radius-bottomleft:0;
	-moz-border-radius-bottomright:0;
	-moz-border-radius-topleft:0;
	-moz-border-radius-topright:0;
}

#nav .toggle-docs-links { float:right; margin:0 0.4em 0.4em; }
#nav .toggle-docs-links a { margin:0 0.4em;cursor:pointer; }

.ui-widget-header { 
	border: none;
	background: none;
	color: #433f38;
	font-weight: bold; 
}

.ui-widget-content { 
	border: none;
 	background: none;
	color: #312e25;
}

