{% block content %}

<div id="page_wrapper">

    <h1 class="intro">Workshops</h1>

    <p> After every monthly Python meeting, we followup with a monthly
    workshop, currently scheduled for a Saturday afternoon. The intent of the
    workshops is to provide a hands-on followup on topics that were discussed
    in the general meeting so that concepts that were presented can be worked
    on by example and collaboration with other fellow Pythonistas! </p>
    
    <h2>Workshops 2012</h2>
    <a href="https://github.com/RocPy/WorkshopSept2012">September 1st - NumPy, SciPy, and Matplotlib</a>
</div>

{% endblock%}

